* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.pagina {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    background: #fff;
}

.titulo {
    color: black;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
}

.conteudo {
    display: flex;
    justify-content: center;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #7E7F9A;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    position: relative;
    color: #F9F8F8;
}

table * {
    position: relative;
}

table thead tr {
    height: 70px;
    background: #272838;
    color: white;
}

table tbody tr {
    height: 50px;
    border-bottom: 1px solid;
}

table tbody tr:last-child {
    border: 0;
}

table td, table th {
    padding-left: 8px;
    text-align: center;
}

table tbody tr:hover {
    background: rgb(105, 105, 129);
}

#btn-edit {
    background: rgb(255, 255, 255);
    font-family: arial;
    font-size:14px;
    border:none;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
    width: 70px;
    height: 25px;
}

#btn-del {
    background: rgb(255, 0, 0);
    font-family: arial;
    font-size:14px;
    border:none;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
    width: 70px;
    height: 25px;
}